## Question 1:
#### Create a variable age and assign it the value 25 . Then print the value of age along with its data type using the type() function.

In [1]:
age = 25
print(f"age:{age},{type(age)}")

age:25,<class 'int'>

## Question 2:
#### Assign the number 12.5 to a variable price . Print both the variable and its data type. 
#### Then assign the value 12 to the same variable and print its data type again. What do you observe?

In [2]:
price = 12.5
print(f"Price:{price},{type(price)}") # return a float data type 
price = 12 
print(f"Price:{price},{type(price)}") # return a interger data type

Price:12.5,<class 'float'>
Price:12,<class 'int'>

## Question 3:
#### Create a variable is_raining and set it to True . Print the value of the variablealong with its type. Then set is_raining to False and print the new value and type.

In [4]:
is_raining = True
print(f"Is_raining :{is_raining},{type(is_raining)}")
is_raining = False
print(f"Is_raining :{is_raining},{type(is_raining)}")

Is_raining :True,<class 'bool'>
Is_raining :False,<class 'bool'>

## Question 4:
##### Create a variable my_name and store your full name in it as a string. Then print the value of my_name using single quotes ' .

In [8]:
my_name = 'Virat Kohli'
print('My name is',my_name)

My name is Virat Kohli

## Question 5:
#### Write a Python program that asks the user for their name and age using the input() function. Store the inputs in variables and print a sentence like
#### "Hello, [Name]! You are [Age] years old." Ensure you cast the age to an integer.

In [10]:
name = input('enter your name')
age = int(input('enter your age'))
print(f"Hello, {name}! You are {age} years old.")

enter your name virat
enter your age 43

Hello, virat! You are 43 years old.

## Question 6:
#### Create two variables x and y and assign them the values 10 and 3.5 ,respectively. Print their values and types. Then, create a new variable
#### sum_xy and store the sum of x and y . Print the result and its type.

In [13]:
x = 10
y = 3.5
print(f" x is {x} and its data type is {type(x)}\ny is {y} and its data type is {type(x)}")
sum_xy = x+y
print(f"Sum of x and y is {sum_xy} and its data type {type(sum_xy)}")

 x is 10 and its data type is <class 'int'>
y is 3.5 and its data type is <class 'int'>
Sum of x and y is 13.5 and its data type <class 'float'>

## Question 7
#### Using the type() function, check and print the data type of the following:
- 45.0
- "hello"
- None
- False

In [14]:
print(type(45.0))
print(type("hello"))
print(type(None))
print(type(False))

<class 'float'>
<class 'str'>
<class 'NoneType'>
<class 'bool'>

## Question 8
#### Write a Python program to print three strings "apple" , "banana" , and "cherry"on the same line, separated by a space. Then modify the program to separate the strings using a comma , instead of a space.

In [19]:
print( "apple","banana","cherry") 
print( "apple","banana","cherry",sep=",")

apple banana cherry
apple,banana,cherry

## Question 9
#### Create a variable big_number and assign it a very large integer value (e.g.,987654321987654321 ). Print the value and its type. What do you notice about the size of the number?

In [17]:
big_number = 987654321987654321
print(f"{big_number} , {type(big_number)}")
#  lenght of number doesnt matter

987654321987654321 , <class 'int'>

## Question 10
#### Write a Python program that prints the result of multiplying two floats (e.g.,2.5 and 3.7 ). Then check and print the data type of the result.

In [22]:
x = 2.5
y = 3.7
print(f" x is {x} and its data type is {type(x)}\ny is {y} and its data type is {type(x)}")
sum_xy = x+y
print(f"Sum of x and y is {sum_xy} and its data type {type(sum_xy)}")

 x is 2.5 and its data type is <class 'float'>
y is 3.7 and its data type is <class 'float'>
Sum of x and y is 6.2 and its data type <class 'float'>