# Lists, Strings, Dictionaries, and Nested Structures

## 1. Year List Creation
#### Create a list years_list that includes the year of your birth and the next five years (total 6 years).

In [13]:
birth_year = int(input('enter your birth year'))
def get_next_5_year():
    return [birth_year+i for i in range(6)]
years_list = get_next_5_year()
print(years_list)

enter your birth year 2000

[2000, 2001, 2002, 2003, 2004, 2005]

## 2. Third Birthday Year
#### Print the year in years_list when you were 3 years old.
#### Hint: Remember, your 0th year is the first item.

In [14]:
print(f"Year I turned 3 years old:{years_list[3]}")

Year I turned 3 years old:2003

## 3. Oldest Year
#### Which year in years_list represents the most recent (your oldest age)?

In [16]:
print(f"Oldest age: {years_list[-1]}")

Oldest age: 2005

## 4. List of Things
#### Create a list called things with the following items:
#### ["mozzarella", "cinderella", "salmonella"]

In [28]:
things = ["mozzarella", "cinderella", "salmonella"]
print(things)

['mozzarella', 'cinderella', 'salmonella']

## 5. Capitalization Check
#### Capitalize the item that refers to a person in the things list.
#### Print the list. Did the original list change?

In [31]:
print(things[1].capitalize())
print(things)
# No the list did not change

Cinderella
['mozzarella', 'cinderella', 'salmonella']

## 6. Surprise List
#### Create a list called surprise_list with these values:
#### ["Groucho", "Chico", "Harpo"]

In [32]:
surprise_list = ["Groucho", "Chico", "Harpo"]

## 7. String Transformation
#### Take the last item in surprise_list:
- Lowercase it
- Reverse it
- Capitalize the result
#### Then print it.

In [33]:
print(surprise_list[-1].lower())
print(surprise_list[-1][::-1])
print(surprise_list[-1].capitalize())

harpo
opraH
Harpo

## 8. English-to-French Dictionary
#### Create a dictionary e2f that maps these:
- dog → chien
- cat → chat
- walrus → morse
#### Print the dictionary.

In [34]:
e2f = {'dog':'chein','cat':'chat','walrus':'morse'}
print(e2f)

{'dog': 'chein', 'cat': 'chat', 'walrus': 'morse'}

## 9. Translate 'walrus' to French
#### Use e2f to print the French word for “walrus.”

In [35]:
print(f"french word for 'walrus' : {e2f['walrus']}")

french word for 'walrus' : morse

## 10. Reverse Dictionary
#### Create a reverse dictionary f2e from e2f using the .items() method.
#### Print f2e.

In [37]:
f2e = {}
for x,y in e2f.items():
    f2e[y] = x
print(f2e)

{'chein': 'dog', 'chat': 'cat', 'morse': 'walrus'}

## 11. Translate 'chien' to English
#### Use f2e to print the English word for “chien.”

In [40]:
print(f" English word for 'chien' : {f2e['chein']}")

 English word for 'chien' : dog

## 12. Get All English Words
#### Print the set of all English words (the keys from e2f).

In [46]:
for i in e2f.keys():
    print(i)

dog
cat
walrus

## 13. Create a Nested Dictionary (life)
#### Create a dictionary life structured like this:\
{
'animals': {
'cats': ['Henri', 'Grumpy', 'Lucy'],
'octopi': {},
'emus': {}
},
'plants': {},
'other': {}
}

In [47]:
life = { 'animals': { 'cats': ['Henri', 'Grumpy', 'Lucy'], 'octopi': {}, 'emus': {} }, 'plants': {}, 'other': {} }

## 14. Top-Level Keys
#### Print the top-level keys of life.

In [48]:
for i in life.keys():
    print(i)

animals
plants
other

## 15. Animal Categories
#### Print the keys inside life['animals'].

In [49]:
for i in life['animals'].keys():
    print(i)

cats
octopi
emus

## 16. List of Cat Names
#### Print the list of cat names stored in life['animals']['cats'].

In [51]:
for i in life['animals']['cats']:
    print(i)

Henri
Grumpy
Lucy